.home-container {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap; /* Ensure it wraps if items exceed the width */
    justify-content: space-around; /* Space between the items */
    align-items: flex-start; /* Aligns items at the top */
    gap: 20px; /* Adds space between the product components */
  }
  
  .whole {
    flex: 1 1 200px; /* Ensures products take up equal space */
    max-width: 250px; /* Set a max width for individual products */
  }
  .remo{
    background-color: red;
  }
  .remo:hover{
    background-color: rgb(195, 63, 63);
  }